.container {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

/* ****** Video Bar ****** */
.video-bar {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.h2-collar {
  color: rgba(0, 0, 0, 0.1);
  font-family: "Open Sans", Sans-serif;
  font-size: 69px;
  font-weight: 500;
  margin-top: 40px;
}

.card h1 {
  color: #0066ff;
  font-family: "Open Sans", Sans-serif;
  font-size: 56px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-top: -55px;
}

.card p {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  color: black;
}

.btn {
  display: inline-block;
  margin: 20px auto;
  background-color: #0066ff;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}


.arrow {
  margin-top: 20px;
  font-size: 24px;
  animation: bounce 1s infinite;
}


@media (min-width: 768px) {
  .h2-collar {
    font-size: 50px;
    margin-top: 30px;
  }

  .card h1 {
    font-size: 48px;
    margin-top: -45px;
  }

  .card p {
    font-size: 16px;
  }

  .btn {
    padding: 12px 24px;
    font-size: 14px;
  }

  .video-bar {
    width: 75%;
    margin-top: 20px;
  }
}


@media (max-width: 767px) {
  .h2-collar {
    font-size: 40px;
    margin-top: 20px;
  }

  .card h1 {
    font-size: 36px;
    margin-top: -35px;
  }

  .card p {
    font-size: 16px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }

  .video-bar {
    width: 90%;
    margin-top: 15px;
  }
}

@media (max-width: 576px) {
  .h2-collar {
    font-size: 35px;
    margin-top: 10px;
  }

  .card h1 {
    font-size: 28px;
    margin-top: -25px;
  }

  .card p {
    font-size: 14px;
  }

  .btn {
    padding: 8px 16px;
    font-size: 12px;
  }

  .video-bar {
    width: 100%;
    margin-top: 10px;
  }
}


@media (max-width: 320px) {
  .h2-collar {
    font-size: 30px;
    margin-top: 5px;
  }

  .card h1 {
    font-size: 24px;
    margin-top: -15px;
  }

  .card p {
    font-size: 12px;
  }

  .btn {
    padding: 6px 12px;
    font-size: 10px;
  }
}
