.footer-container {
    width: 100%;
    height: auto;
    background-color: #0e5bcf;
    padding: 20px 0; 
}

.footer-container p {
    color: white;
    text-align: center;
    margin: 0; 
    font-size: 14px;
    font-family: 'Open Sans", Sans-serif';
    letter-spacing: 0.4px;
    line-height: 22px
}
